body{
    color: white;
    margin: 0% 10% 10% 10%;
    
}


.ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
   

}
.ul>li{
    padding: 20px;
    font-size: x-large;
    
}
nav{
    display: flex;
    justify-content: center;
    
}
   


.cont {
    display: grid;
    margin-top: 60px;
   
 grid-template-columns: 1fr 1fr;
    
      
 

     
}
.cont > article>h1{
  
    text-align: center;
     
    
}
.cont>article>h2{
   
    text-align: center;
}
.cont>figure{
    display: flex;
    justify-content: center;
     
     
}
.cont>figcaption{
    display: flex;
    justify-content: center;
     
     
}

.hover-approach {
    display: inline-block;
   
    font-weight: 500;
    transition: all 0.5s ease-out;
    cursor: pointer;
    transform: translateZ(30px) scale(0.8);
    opacity: 0.8;
    letter-spacing: 1px;
}

.hover-approach:hover {
    transform: translateZ(0) scale(1);
    opacity: 1;
    letter-spacing: 0;
  
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
 .skill-row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            
        }
        
        .skill-item {
            display: flex;
            background-color: #444;
            padding: 15px 20px;
            border-radius: 6px;
            font-size: 16px;
            font-weight: 500;
            color: #ffffff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            align-items: center;
            gap: 10px;
            min-width: 160px;
        }
        
        .skill-item:hover {
            background-color: #ffffff;
            color: #000000;
            transform: translateY(-5px);
            
        }
        
        .skill-icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .skill-icon img {
            width:60px;
            
            filter: brightness(0) invert(1);
            transition: filter 0.3s ease;
        }
        
        .skill-item:hover .skill-icon img {
            filter: brightness(0) invert(0);
        }
    .hover-approach2 {
    font-weight: 700;
    transition: all 0.5s ease-out;
   
    transform: translateZ(30px) scale(1.1);
    opacity: 0.8;
    letter-spacing: 1px;
    
}

.hover-approach2:hover {
      transform: translateZ(0) scale(1);
    opacity: 1;
    letter-spacing: 0;
    
  
}
.cont2 {
    display: flex; 
    flex-direction: column;
    margin: 0%;
   
 
    
      
 

     
}
.cont2 > article>h1{
    display: flex;
    justify-content: center;
    text-align: left;
   padding-top: 50px;
   
     
     
    
}
.cont2 > article>p{
    display: flex;
     margin-left: 20%;
    margin-right: 20%;
    font-size: larger;
  
    justify-content: center;

    text-align: center;
   
    
} 


.skill-icon2 {
            font-size: 60px;
          
            text-align: center;
           
            
            
        }



.ul2 {
    display: flex;
   justify-content: center;
  
    gap: 10rem;
   

}
.ul3{
    display: flex;
    justify-content: center;
    gap: 5rem;

}


        


.cont3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    gap: 10rem;
    

   

    
      
 

     
}



        @media (max-width: 768px) {
    .cont2 {
        grid-template-columns: 1fr; 
        gap: 10px;
        
    }
    
    .cont2 article {
        
        margin: 0 auto;
    }
    
    .cont2 article h2 {
        font-size: 1.5rem;
    }
    

    .cont2 > article>h1{
    padding-left: 0%;
    text-align: center;
     
     
    
}
     .cont2>article>p{
       margin-left: 0%;
    margin-right:  0%;
    font-size: large;

     }
   
    

    .ul2 {
    display: flex;
   justify-content: center;
  
    gap: 5rem;
    }
   .ul3{
    display: flex;
    padding-right: 2rem;
   
    flex-direction: column;
  
    
    gap: 5rem;
   }
   .cont3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 10rem;
    

   

    
      
 

     
}
.cont3 > img{
   width: 480px;
}


        }